*.zip
.vector_cache
__pycache__
.vscode
first_results
results
mesh_ids
mesh_texts
processed
bert_results
final_results
march_24
iter3_results
iter4_results
iter5_results
iter6_results
iter7_results
april_3
*.csv
best_finetuned_models
expert_annotations

*.png
*.pck
*.aux
*_latexmk
*.fls
*.log
*.synctex.gz
*.tar.gz
*.bin
*.out
best_results_sept_8/domains/clusters.xlsx
best_results_sept_8/domains/config.txt
best_results_sept_8/items/clusters.xlsx
best_results_sept_8/items/config.txt
pretrained_models/bert-base-nli-mean-tokens/modules.json
pretrained_models/bert-base-nli-mean-tokens/0_BERT/added_tokens.json
pretrained_models/bert-base-nli-mean-tokens/0_BERT/config.json
pretrained_models/bert-base-nli-mean-tokens/0_BERT/sentence_bert_config.json
pretrained_models/bert-base-nli-mean-tokens/0_BERT/special_tokens_map.json
pretrained_models/bert-base-nli-mean-tokens/0_BERT/vocab.txt
pretrained_models/bert-base-nli-mean-tokens/1_Pooling/config.json
pretrained_models/bert-base-nli-stsb-mean-tokens/modules.json
pretrained_models/bert-base-nli-stsb-mean-tokens/0_BERT/added_tokens.json
pretrained_models/bert-base-nli-stsb-mean-tokens/0_BERT/config.json
pretrained_models/bert-base-nli-stsb-mean-tokens/0_BERT/sentence_bert_config.json
pretrained_models/bert-base-nli-stsb-mean-tokens/0_BERT/special_tokens_map.json
pretrained_models/bert-base-nli-stsb-mean-tokens/0_BERT/vocab.txt
pretrained_models/bert-base-nli-stsb-mean-tokens/1_Pooling/config.json
pretrained_models/distilbert-base-nli-mean-tokens/config.json
pretrained_models/distilbert-base-nli-mean-tokens/modules.json
pretrained_models/distilbert-base-nli-mean-tokens/0_Transformer/config.json
pretrained_models/distilbert-base-nli-mean-tokens/0_Transformer/sentence_bert_config.json
pretrained_models/distilbert-base-nli-mean-tokens/0_Transformer/special_tokens_map.json
pretrained_models/distilbert-base-nli-mean-tokens/0_Transformer/tokenizer_config.json
pretrained_models/distilbert-base-nli-mean-tokens/0_Transformer/vocab.txt
pretrained_models/distilbert-base-nli-mean-tokens/1_Pooling/config.json
pretrained_models/distilbert-base-nli-stsb-mean-tokens/config.json
pretrained_models/distilbert-base-nli-stsb-mean-tokens/modules.json
pretrained_models/distilbert-base-nli-stsb-mean-tokens/train_script.py
pretrained_models/distilbert-base-nli-stsb-mean-tokens/0_Transformer/config.json
pretrained_models/distilbert-base-nli-stsb-mean-tokens/0_Transformer/sentence_bert_config.json
pretrained_models/distilbert-base-nli-stsb-mean-tokens/0_Transformer/special_tokens_map.json
pretrained_models/distilbert-base-nli-stsb-mean-tokens/0_Transformer/tokenizer_config.json
pretrained_models/distilbert-base-nli-stsb-mean-tokens/0_Transformer/vocab.txt
pretrained_models/distilbert-base-nli-stsb-mean-tokens/1_Pooling/config.json
results_aug_24/domains/config.txt
results_aug_24/items/config.txt
mobility_dataset_1000_lines.txt
