*.zip
.vector_cache
__pycache__
.vscode
first_results
results
mesh_ids
mesh_texts
processed
bert_results
final_results
march_24
iter3_results
iter4_results
iter5_results
iter6_results
*.csv

*.aux
*_latexmk
*.fls
*.log
*.synctex.gz
*.tar.gz
*.bin